@import "@/presentation/styles/colors.scss";

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;

  width: 100%;

  .input {
    width: 100%;

    &[type="password"],
    &[type="email"] {
      height: 48px;
  
      color: $black;
  
      border: 1px solid $primaryLight;
      border-radius: 4px;
  
      line-height: 40px;
  
      padding: 0 12px;
  
      &:focus {
        outline: $primaryLight solid 2px;
      }
    }

    
    &.inputError {
      border: 2px solid $error;
    }
  }

  label {
    color: $error;
    text-align: end;
  }
}