$white: #FFF;
$black: #121212;
$gray: #717171;
$background: #F2F2F2;
$skeleton-background: #d4d4d4;
$primaryLight: #7a3cbd;
$primary: #5e239d;
$primaryDark: #491780;
$disabled: #9861d3;
$error: #9d2323;
$success: #239d33;